@using Umbraco.Web
@inherits UmbracoTemplatePage

<!DOCTYPE html>
<html>
<head>
    <title>Pascal Andersson | @Umbraco.Field("pageName")</title>
    @RenderSection("head", required: false)
    <link href="~/Static/Styles/Main.css" rel="stylesheet" />
    <link href="~/Static/Styles/Navbar.css" rel="stylesheet" />
    <link href="~/Static/Styles/Footer.css" rel="stylesheet" />
    <link href="~/Static/Styles/Home.css" rel="stylesheet" />
    <link href="~/Static/Styles/Skills.css" rel="stylesheet" />
    <link href="~/Static/Styles/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <script src="~/Static/Scripts/JQuery/jquery.js"></script>
    <script src="~/Static/Scripts/Bootstrap/bootstrap.min.js"></script>

    <script src="~/Static/Scripts/navbar.js"></script>
</head>
<body>
    @Html.Partial("_Navbar")
    @RenderBody()
    @Html.Partial("_Footer")
</body>
</html>
