@using Umbraco.Web
@inherits UmbracoTemplatePage

<!DOCTYPE html>
<html>
<head>
    <title>Pascal Andersson | @Umbraco.Field("pageName")</title>
    @RenderSection("head", required: false)
    <link href="~/Static/Styles/Main.css" rel="stylesheet" />
    <link href="~/Static/Styles/Navbar.css" rel="stylesheet" />
    <link href="~/Static/Styles/Footer.css" rel="stylesheet" />
    <link href="~/Static/Styles/Home.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    @Html.Partial("_Navbar")
    @RenderBody()
    @Html.Partial("_Footer")
</body>
</html>
