@inherits UmbracoViewPage<Pascalandersson.com.Models.ViewModels.HomeViewModel>

<div class="hero__container" id="heroImage" style="background-image: url('@Model.HeroImageUrl')">
    <div class="hero-text__wrapper">
            <h1 class="hero-header">@Model.Content.GetPropertyValue("heroTitle")</h1>
            <p>@Model.Content.GetPropertyValue("heroIntroText")</p>
        </div>
    @*<div class="speech-bubble">
        test
    </div>*@
    @*<div class="profile-image__wrapper">
        <div class="profile-image__outer">
            <img src="@Model.ProfileImageUrl" class="profile-image__inner" />
        </div>
    </div>*@
</div>

@Html.Action("LoadSkills", "Home")


